.checkbox__input {
	appearance: none;
	background-color: transparent;
	border: 1px solid var(--lightgrey);
	width: 20px;
	height: 20px;
	border-radius: 4px;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.checkbox__input:checked {
	background: #7cd235 url(../../../assets/checked.svg) no-repeat center;
	border: none;
}

.checkbox__input:focus {
	outline: none;
	border-color: var(--white);
	color: var(--white);
}

.checkbox {
	display: flex;
	align-items: center;
}

.checkbox__label {
	cursor: pointer;
	font-size: 14px;
	line-height: 19px;
	color: var(--lightgrey);
	padding-left: 10px;
	padding-top: 2px;
	justify-content: center;
}
